@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;600&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  background: #f2f3f4;
  width: 100vw;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-thumb {
  margin-top: 1rem;
  background: #f97316;
}
